@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  /* @apply h-[100vh]; */
  background: #100433;
  overflow: hidden;
}

/* Add these styles for the scrollable menu */
.menu-content {
  max-height: calc(100vh - 4rem); /* Adjust as needed for padding/margins */
  overflow-y: auto;
}

.dark {
  --background: 240 10% 3.9%;
  --foreground: 0 0% 98%;
}

.navbar-bg {
  background: #3f258d;
}
.projects-bg {
  background: #100433;
}

.blur-background {
  filter: blur(10px);
  pointer-events: none;
}
